.version.ex1 /* version checker */
{
	color: #000000;
	background-color: #093075;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1227px;
	margin-left: auto;
	margin-right: auto;
}

#u74
{
	z-index: 2;
	padding-bottom: 10px;
}

#u75
{
	z-index: 3;
	width: 111px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 112px;
}

#menuu2334
{
	z-index: 10;
	width: 446px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 504px;
}

#u2342
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2345
{
	width: 87px;
	padding-bottom: 17px;
}

#u2345:hover
{
	margin: 0px;
}

#u2345:active
{
	margin: 0px;
}

#u2348-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2345:hover #u2348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2345:active #u2348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2335
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u2336
{
	width: 87px;
	padding-bottom: 17px;
}

#u2345.MuseMenuActive,#u2336:hover
{
	margin: 0px;
}

#u2336:active
{
	margin: 0px;
}

#u2337-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2345.MuseMenuActive #u2348-4,#u2336:hover #u2337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2336:active #u2337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2349
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u2352
{
	width: 88px;
	padding-bottom: 17px;
}

#u2336.MuseMenuActive,#u2352:hover
{
	margin: 0px;
}

#u2352:active
{
	margin: 0px;
}

#u2355-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2336.MuseMenuActive #u2337-4,#u2352:hover #u2355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2352:active #u2355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2356
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u2357
{
	width: 88px;
	padding-bottom: 17px;
}

#u2352.MuseMenuActive,#u2357:hover
{
	margin: 0px;
}

#u2357:active
{
	margin: 0px;
}

#u2359-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2352.MuseMenuActive #u2355-4,#u2357:hover #u2359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2357:active #u2359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2555
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u2556
{
	width: 88px;
	padding-bottom: 17px;
}

#u2357.MuseMenuActive,#u2556:hover
{
	margin: 0px;
}

#u2556:active
{
	margin: 0px;
}

#u2558-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2357.MuseMenuActive #u2359-4,#u2556:hover #u2558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2556:active #u2558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2556.MuseMenuActive #u2558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u81
{
	z-index: 5;
	width: 28px;
	margin-right: -10000px;
	left: 989px;
}

#u74-bw
{
	z-index: 2;
	height: 50px;
}

#u1395
{
	z-index: 60;
	border-color: #000000;
	padding-bottom: 116px;
	background: #FFFFFF url("../images/header.jpg") no-repeat center center;
	background-size: cover;
}

#u1395_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1402-4
{
	z-index: 61;
	width: 435px;
	min-height: 89px;
	color: #FFFFFF;
	line-height: 79px;
	font-size: 60px;
	text-align: center;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 363px;
}

#u1395-bw
{
	z-index: 60;
	height: 236px;
}

#slideshowu2207
{
	z-index: 72;
	width: 0.01px;
	height: 347px;
	margin-left: 59px;
	margin-top: 28px;
	position: relative;
}

#u2211
{
	position: absolute;
	width: 859px;
	height: 528px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: 63px;
	left: -22px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u2211popup
{
	z-index: 73;
}

#u2212
{
	z-index: 74;
	width: 815px;
	height: 466px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2259
{
	z-index: 76;
	width: 815px;
	height: 466px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2268
{
	z-index: 78;
	width: 815px;
	height: 466px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2277
{
	z-index: 80;
	width: 815px;
	height: 466px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2286
{
	z-index: 82;
	width: 815px;
	height: 466px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2295
{
	z-index: 84;
	width: 815px;
	height: 466px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2212_img,#u2259_img,#u2268_img,#u2277_img,#u2286_img,#u2295_img
{
	padding-left: 58px;
	padding-right: 58px;
}

#u2226
{
	position: absolute;
	width: 197px;
	left: 13px;
}

#u2226popup
{
	z-index: 86;
}

#u2231
{
	z-index: 87;
	width: 93px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2262
{
	z-index: 89;
	width: 93px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 103px;
}

#u2231:hover,#u2262:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2271
{
	z-index: 91;
	width: 93px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
}

#u2280
{
	z-index: 93;
	width: 93px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 103px;
}

#u2271:hover,#u2280:hover
{
	margin: 80px -10000px 0px 0px;
}

#u2289
{
	z-index: 95;
	width: 93px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
}

#u2298
{
	z-index: 97;
	width: 93px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 103px;
}

#u2289:hover,#u2298:hover
{
	margin: 160px -10000px 0px 0px;
}

#u2231_clip,#u2262_clip,#u2271_clip,#u2280_clip,#u2289_clip,#u2298_clip
{
	overflow: hidden;
	width: 93px;
	height: 70px;
}

#u2231_img,#u2262_img,#u2271_img,#u2280_img,#u2289_img,#u2298_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u2219
{
	position: absolute;
	width: 340px;
	top: 561px;
}

#u2219popup
{
	z-index: 99;
}

#u2221-4
{
	z-index: 100;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2265-4
{
	z-index: 104;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2274-4
{
	z-index: 108;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2283-4
{
	z-index: 112;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2292-4
{
	z-index: 116;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2301-4
{
	z-index: 120;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2209-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 561px;
	left: 350px;
}

#u2209-4popup
{
	z-index: 124;
}

#u2225-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 560px;
	left: 450px;
}

#u2225-4popup
{
	z-index: 128;
}

#u2208-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 561px;
	left: 380px;
}

#u2208-4popup
{
	z-index: 132;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1405-7
{
	z-index: 65;
	width: 749px;
	min-height: 86px;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: patua-one, serif;
	font-weight: 400;
	margin-left: 106px;
	top: -349px;
	margin-bottom: -86px;
	position: relative;
}

#u87
{
	z-index: 7;
	padding-bottom: 36px;
}

#u74_align_to_page,#u87_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u89
{
	z-index: 8;
	width: 100px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 530px;
}

#menuu2883
{
	z-index: 41;
	width: 264px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 770px;
}

#u2898
{
	width: 86px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2901
{
	width: 86px;
	padding-bottom: 17px;
}

#u2556.MuseMenuActive,#u2901:hover
{
	margin: 0px;
}

#u2901:active
{
	margin: 0px;
}

#u2903-4
{
	width: 86px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2891
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 88px;
}

#u2894
{
	width: 87px;
	padding-bottom: 17px;
}

#u2901.MuseMenuActive,#u2894:hover
{
	margin: 0px;
}

#u2894:active
{
	margin: 0px;
}

#u2884
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 177px;
}

#u2885
{
	width: 87px;
	padding-bottom: 17px;
}

#u2894.MuseMenuActive,#u2885:hover
{
	margin: 0px;
}

#u2885:active
{
	margin: 0px;
}

#u2885.MuseMenuActive
{
	margin: 0px;
}

#u2896-4,#u2887-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u87-bw
{
	z-index: 7;
	margin-top: 322px;
	height: 82px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

