.version.focus /* version checker */
{
	color: #0000E1;
	background-color: #D45A1B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1673px;
	margin-left: auto;
	margin-right: auto;
}

#u74
{
	z-index: 2;
	padding-bottom: 10px;
}

#u75
{
	z-index: 3;
	width: 111px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 112px;
}

#menuu2334
{
	z-index: 10;
	width: 446px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 504px;
}

#u2342
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2345
{
	width: 87px;
	padding-bottom: 17px;
}

#u2345:hover
{
	margin: 0px;
}

#u2345:active
{
	margin: 0px;
}

#u2348-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2345:hover #u2348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2345:active #u2348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2335
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u2336
{
	width: 87px;
	padding-bottom: 17px;
}

#u2345.MuseMenuActive,#u2336:hover
{
	margin: 0px;
}

#u2336:active
{
	margin: 0px;
}

#u2337-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2345.MuseMenuActive #u2348-4,#u2336:hover #u2337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2336:active #u2337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2349
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u2352
{
	width: 88px;
	padding-bottom: 17px;
}

#u2336.MuseMenuActive,#u2352:hover
{
	margin: 0px;
}

#u2352:active
{
	margin: 0px;
}

#u2355-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2336.MuseMenuActive #u2337-4,#u2352:hover #u2355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2352:active #u2355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2356
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u2357
{
	width: 88px;
	padding-bottom: 17px;
}

#u2352.MuseMenuActive,#u2357:hover
{
	margin: 0px;
}

#u2357:active
{
	margin: 0px;
}

#u2359-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2352.MuseMenuActive #u2355-4,#u2357:hover #u2359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2357:active #u2359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2555
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u2556
{
	width: 88px;
	padding-bottom: 17px;
}

#u2357.MuseMenuActive,#u2556:hover
{
	margin: 0px;
}

#u2556:active
{
	margin: 0px;
}

#u2558-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2357.MuseMenuActive #u2359-4,#u2556:hover #u2558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2556:active #u2558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2556.MuseMenuActive #u2558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u81
{
	z-index: 5;
	width: 28px;
	margin-right: -10000px;
	left: 989px;
}

#u74-bw
{
	z-index: 2;
	height: 50px;
}

#pu792
{
	width: 0.01px;
	margin-left: -100px;
}

#u792
{
	z-index: 60;
	width: 1160px;
	position: relative;
	margin-right: -10000px;
}

#u798-8
{
	z-index: 62;
	width: 727px;
	min-height: 226px;
	color: #FFFFFF;
	line-height: 132px;
	font-size: 100px;
	text-align: center;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 197px;
	left: 217px;
}

#u1207
{
	z-index: 116;
	width: 30px;
	height: 56px;
	border-color: #000000;
	background-color: #1C1C1C;
	position: relative;
	margin-right: -10000px;
}

#u1209-4
{
	z-index: 118;
	width: 335px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 54px;
}

#accordionu1136
{
	z-index: 70;
	width: 389px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1137
{
	z-index: 71;
	width: 389px;
	position: relative;
}

#u1138-4
{
	z-index: 72;
	width: 334px;
	min-height: 23px;
	border-color: #FFFFFF;
	padding-left: 55px;
	padding-top: 30px;
	color: #FFFFFF;
	line-height: 14px;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
	background: transparent url("../images/flag1.png") no-repeat left top;
}

#u1138-4:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 30px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px;
}

#u1138-4:active
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 30px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px;
}

#u1139
{
	z-index: 76;
	width: 387px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 15px;
	position: relative;
}

#u1140-5
{
	z-index: 77;
	width: 308px;
	min-height: 120px;
	color: #000000;
	line-height: 20px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 41px;
}

#u1184
{
	z-index: 82;
	width: 85px;
}

#u1155
{
	z-index: 85;
	width: 389px;
	position: relative;
}

#u1158-4
{
	z-index: 86;
	width: 334px;
	min-height: 22px;
	border-color: #FFFFFF;
	padding-left: 55px;
	padding-top: 7px;
	color: #FFFFFF;
	line-height: 14px;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
	background: transparent url("../images/flag2.jpg") no-repeat left top;
}

#u1158-4:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u1158-4:active
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u1158-4.AccordionPanelTabOpen
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u1156
{
	z-index: 90;
	width: 387px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 11px;
	position: relative;
}

#u1191
{
	z-index: 91;
	width: 179px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 49px;
}

#u1191_img
{
	padding-right: 1px;
}

#u1197-4
{
	z-index: 93;
	width: 133px;
	min-height: 116px;
	color: #000000;
	line-height: 20px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 235px;
}

#u1159
{
	z-index: 97;
	width: 389px;
	position: relative;
}

#u1160-4
{
	z-index: 98;
	width: 334px;
	min-height: 44px;
	border-color: #FFFFFF;
	padding-left: 55px;
	padding-top: 8px;
	color: #FFFFFF;
	line-height: 14px;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
	background: transparent url("../images/flag3.png") no-repeat left top;
}

#u1160-4:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
	padding-bottom: 0px;
	min-height: 44px;
	margin: 0px;
}

#u1160-4:active
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
	padding-bottom: 0px;
	min-height: 44px;
	margin: 0px;
}

#u1160-4.AccordionPanelTabOpen
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
	padding-bottom: 0px;
	min-height: 44px;
	margin: 0px;
}

#u1161
{
	z-index: 102;
	width: 352px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-right: 37px;
	padding-bottom: 5px;
	position: relative;
}

#ppu1207,#pu1208
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1208
{
	z-index: 112;
	width: 30px;
	height: 228px;
	border-color: #000000;
	background-color: #EACA2D;
	position: relative;
}

#u1211
{
	z-index: 113;
	width: 30px;
	height: 7px;
	border-color: #000000;
	background-color: #E9C940;
	margin-top: 2px;
	position: relative;
}

#u1198-6
{
	z-index: 103;
	width: 308px;
	min-height: 120px;
	color: #000000;
	line-height: 20px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 44px;
}

#u1190,#u1203
{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#u1204
{
	z-index: 109;
	width: 85px;
}

#u1184_clip,#u1204_clip
{
	overflow: hidden;
	width: 85px;
	height: 84px;
}

#u1184_img,#u1204_img
{
	margin-bottom: -1px;
}

#u1212
{
	z-index: 114;
	width: 30px;
	height: 5px;
	border-color: #000000;
	background-color: #E9C940;
	top: -6px;
	margin-bottom: -5px;
	position: relative;
}

#u1213
{
	z-index: 115;
	width: 30px;
	height: 2px;
	border-color: #000000;
	background-color: #E9C940;
	margin-top: 1px;
	position: relative;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#ppu1327
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 462px;
}

#pppu1207,#pu1207,#ppu1208,#pu1327
{
	width: 0.01px;
}

#u1327
{
	z-index: 117;
	width: 30px;
	height: 56px;
	border-color: #000000;
	background-color: #1C1C1C;
	position: relative;
	margin-right: -10000px;
}

#u1328-4
{
	z-index: 122;
	width: 335px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 53px;
}

#accordionu1295
{
	z-index: 126;
	width: 361px;
	position: relative;
}

#u1304
{
	z-index: 127;
	width: 361px;
	position: relative;
}

#u1305-4
{
	z-index: 128;
	width: 306px;
	min-height: 23px;
	border-color: #FFFFFF;
	padding-left: 55px;
	padding-top: 30px;
	color: #FFFFFF;
	line-height: 14px;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
	background: transparent url("../images/flag1.png") no-repeat left top;
}

#u1138-4.AccordionPanelTabOpen,#u1305-4:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 30px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px;
}

#u1305-4:active
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 30px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px;
}

#u1305-4.AccordionPanelTabOpen
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 30px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px;
}

#u1306
{
	z-index: 132;
	width: 359px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 15px;
	position: relative;
}

#u1307-4
{
	z-index: 133;
	width: 310px;
	min-height: 105px;
	color: #000000;
	line-height: 20px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 39px;
}

#u1311
{
	z-index: 137;
	width: 361px;
	position: relative;
}

#u1314-4
{
	z-index: 138;
	width: 306px;
	min-height: 22px;
	border-color: #FFFFFF;
	padding-left: 55px;
	padding-top: 8px;
	color: #FFFFFF;
	line-height: 14px;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
	background: transparent url("../images/flag2.jpg") no-repeat left top;
}

#u1314-4:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u1314-4:active
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u1314-4.AccordionPanelTabOpen
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u1312
{
	z-index: 142;
	width: 359px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	position: relative;
}

#u1321-4
{
	z-index: 143;
	width: 310px;
	min-height: 105px;
	color: #000000;
	line-height: 20px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 24px;
}

#u1315
{
	z-index: 147;
	width: 361px;
	position: relative;
}

#u1317-4
{
	z-index: 148;
	width: 306px;
	min-height: 42px;
	border-color: #FFFFFF;
	padding-left: 55px;
	padding-top: 7px;
	color: #FFFFFF;
	line-height: 14px;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
	background: transparent url("../images/flag3.png") no-repeat left top;
}

#u1317-4:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px;
}

#u1317-4:active
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px;
}

#u1317-4.AccordionPanelTabOpen
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px;
}

#u1305-4.AccordionPanelTabOpen p,#u1314-4.AccordionPanelTabOpen p,#u1317-4.AccordionPanelTabOpen p
{
	color: #FFFF00;
	visibility: inherit;
}

#u1316
{
	z-index: 152;
	width: 359px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 26px;
	position: relative;
}

#u1329
{
	z-index: 157;
	width: 30px;
	height: 149px;
	border-color: #000000;
	background-color: #EACA2D;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1325-4
{
	z-index: 153;
	width: 291px;
	min-height: 105px;
	color: #000000;
	line-height: 20px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 43px;
}

#u87
{
	z-index: 7;
	padding-bottom: 36px;
}

#u74_align_to_page,#u87_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u89
{
	z-index: 8;
	width: 100px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 530px;
}

#menuu2883
{
	z-index: 41;
	width: 264px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 770px;
}

#u2898
{
	width: 86px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2901
{
	width: 86px;
	padding-bottom: 17px;
}

#u2556.MuseMenuActive,#u2901:hover
{
	margin: 0px;
}

#u2901:active
{
	margin: 0px;
}

#u2903-4
{
	width: 86px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2891
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 88px;
}

#u2894
{
	width: 87px;
	padding-bottom: 17px;
}

#u2901.MuseMenuActive,#u2894:hover
{
	margin: 0px;
}

#u2894:active
{
	margin: 0px;
}

#u2884
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 177px;
}

#u2885
{
	width: 87px;
	padding-bottom: 17px;
}

#u2894.MuseMenuActive,#u2885:hover
{
	margin: 0px;
}

#u2885:active
{
	margin: 0px;
}

#u2885.MuseMenuActive
{
	margin: 0px;
}

#u2896-4,#u2887-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u87-bw
{
	z-index: 7;
	margin-top: 279px;
	height: 82px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 50px;
}

#page .verticalspacer
{
	clear: both;
}

