.mainTitles
{
	font-family: chunk-n4, serif;
}

.descriptionBlock
{
	font-family: arimo-n4, sans-serif;
}

.BigTitle
{
	font-family: patua-one-n4, serif;
}

#u2357.MuseMenuActive #u2359-4 p,#u2556.MuseMenuActive #u2558-4 p,#u2352.MuseMenuActive #u2355-4 p,#u2345.MuseMenuActive #u2348-4 p,#u2336.MuseMenuActive #u2337-4 p,#u2348-4
{
	font-family: patua-one-n4, serif;
}

#u2337-4
{
	font-family: patua-one-n4, serif;
}

#u2355-4
{
	font-family: patua-one-n4, serif;
}

#u2359-4
{
	font-family: patua-one-n4, serif;
}

#u2558-4
{
	font-family: patua-one-n4, serif;
}

#u2903-4,#u2896-4,#u2887-4
{
	font-family: patua-one-n4, serif;
}

#u2659-4
{
	font-family: arimo-n7, sans-serif;
}

#u2658-4
{
	font-family: arizonia-n4, cursive;
}

#u2619-6,#u2635-6,#u2662-6
{
	font-family: patua-one-n4, serif;
}

