.version.index /* version checker */
{
	color: #000017;
	background-color: #03F826;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1041px;
	margin-left: auto;
	margin-right: auto;
}

#u74
{
	z-index: 2;
	padding-bottom: 10px;
}

#u75
{
	z-index: 3;
	width: 111px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 112px;
}

#menuu2334
{
	z-index: 10;
	width: 446px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 504px;
}

#u2342
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2345
{
	width: 87px;
	padding-bottom: 17px;
}

#u2345:hover
{
	margin: 0px;
}

#u2345:active
{
	margin: 0px;
}

#u2348-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2345:hover #u2348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2345:active #u2348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2335
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u2336
{
	width: 87px;
	padding-bottom: 17px;
}

#u2345.MuseMenuActive,#u2336:hover
{
	margin: 0px;
}

#u2336:active
{
	margin: 0px;
}

#u2337-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2345.MuseMenuActive #u2348-4,#u2336:hover #u2337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2336:active #u2337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2349
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u2352
{
	width: 88px;
	padding-bottom: 17px;
}

#u2336.MuseMenuActive,#u2352:hover
{
	margin: 0px;
}

#u2352:active
{
	margin: 0px;
}

#u2355-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2336.MuseMenuActive #u2337-4,#u2352:hover #u2355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2352:active #u2355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2356
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u2357
{
	width: 88px;
	padding-bottom: 17px;
}

#u2352.MuseMenuActive,#u2357:hover
{
	margin: 0px;
}

#u2357:active
{
	margin: 0px;
}

#u2359-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2352.MuseMenuActive #u2355-4,#u2357:hover #u2359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2357:active #u2359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2555
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u2556
{
	width: 88px;
	padding-bottom: 17px;
}

#u2357.MuseMenuActive,#u2556:hover
{
	margin: 0px;
}

#u2556:active
{
	margin: 0px;
}

#u2558-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2357.MuseMenuActive #u2359-4,#u2556:hover #u2558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2556:active #u2558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2556.MuseMenuActive #u2558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u81
{
	z-index: 5;
	width: 28px;
	margin-right: -10000px;
	left: 989px;
}

#u74-bw
{
	z-index: 2;
	height: 50px;
}

#pu608
{
	width: 0.01px;
	margin-left: -100px;
}

#u608
{
	z-index: 62;
	height: 540px;
	border-color: #000000;
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	background: #FFE9C5 url("../images/patternsmall.jpg") repeat left top;
}

#u608-bw
{
	z-index: 62;
	height: 540px;
}

#u615
{
	z-index: 63;
	width: 630px;
	height: 420px;
	border-color: #000000;
	background-color: #FC438A;
	-webkit-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	-ms-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	-o-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 411px;
}

#u609
{
	z-index: 64;
	width: 630px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 411px;
}

#u672-6
{
	z-index: 96;
	width: 283px;
	min-height: 226px;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 100px;
}

#section2
{
	left: -100px;
	position: relative;
}

#pu638
{
	width: 0.01px;
	margin-left: 39px;
	margin-top: -8px;
}

#u638
{
	z-index: 66;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #FF9178;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u642
{
	z-index: 67;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #FFF099;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u644
{
	z-index: 68;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #9CFAFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#pu655-4
{
	width: 0.01px;
	margin-left: 39px;
	margin-top: 11px;
}

#u655-4
{
	z-index: 84;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u657-4
{
	z-index: 88;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u659-4
{
	z-index: 92;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#pu650-7
{
	width: 0.01px;
	margin-left: 39px;
	margin-top: 12px;
}

#u650-7
{
	z-index: 69;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
}

#u682-4
{
	z-index: 76;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u683-4
{
	z-index: 80;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
	left: 588px;
}

#pu1026
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 9px;
}

#u1026
{
	z-index: 102;
	height: 540px;
	border-color: #000000;
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	background: #FFE9C5 url("../images/patternsmall.jpg") repeat left top;
}

#u1026-bw
{
	z-index: 102;
	height: 540px;
}

#u1027
{
	z-index: 103;
	width: 630px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 423px;
}

#u1029-6
{
	z-index: 105;
	width: 283px;
	min-height: 226px;
	line-height: 79px;
	font-size: 60px;
	text-align: left;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 112px;
}

#section1,#section3
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u87
{
	z-index: 7;
	padding-bottom: 36px;
}

#u74_align_to_page,#u87_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u89
{
	z-index: 8;
	width: 100px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 530px;
}

#pu117
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 770px;
}

#u117
{
	z-index: 60;
	width: 28px;
	margin-left: 170px;
	position: relative;
}

#menuu2883
{
	z-index: 41;
	width: 264px;
	margin-top: 8px;
}

#u2898
{
	width: 86px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2901
{
	width: 86px;
	padding-bottom: 17px;
}

#u2556.MuseMenuActive,#u2901:hover
{
	margin: 0px;
}

#u2901:active
{
	margin: 0px;
}

#u2903-4
{
	width: 86px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2891
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 88px;
}

#u2894
{
	width: 87px;
	padding-bottom: 17px;
}

#u2901.MuseMenuActive,#u2894:hover
{
	margin: 0px;
}

#u2894:active
{
	margin: 0px;
}

#u2884
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 177px;
}

#u2885
{
	width: 87px;
	padding-bottom: 17px;
}

#u2894.MuseMenuActive,#u2885:hover
{
	margin: 0px;
}

#u2885:active
{
	margin: 0px;
}

#u2885.MuseMenuActive
{
	margin: 0px;
}

#u2896-4,#u2887-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u87-bw
{
	z-index: 7;
	height: 82px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

