#u74
{
	border-color: #000000;
	background-color: #000000;
}

#u2345
{
	background-color: #484848;
	position: relative;
}

#u2345:hover
{
	background-color: #999999;
}

#u2345:active
{
	background-color: #6B6B6B;
}

#u2348-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
}

#u2336
{
	background-color: #484848;
	position: relative;
}

#u2336:hover
{
	background-color: #999999;
}

#u2336:active
{
	background-color: #6B6B6B;
}

#u2337-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
}

#u2352
{
	background-color: #484848;
	position: relative;
}

#u2352:hover
{
	background-color: #999999;
}

#u2352:active
{
	background-color: #6B6B6B;
}

#u2355-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
}

#u2357
{
	background-color: #484848;
	position: relative;
}

#u2357:hover
{
	background-color: #999999;
}

#u2357:active
{
	background-color: #6B6B6B;
}

#u2359-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
}

#u2556
{
	background-color: #484848;
	position: relative;
}

#u2556:hover
{
	background-color: #999999;
}

#u2556:active
{
	background-color: #6B6B6B;
}

#u2345.MuseMenuActive,#u2336.MuseMenuActive,#u2352.MuseMenuActive,#u2357.MuseMenuActive,#u2556.MuseMenuActive
{
	background-color: #E6395A;
}

#u2558-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
}

#u2345.MuseMenuActive #u2348-4 p,#u2336.MuseMenuActive #u2337-4 p,#u2352.MuseMenuActive #u2355-4 p,#u2357.MuseMenuActive #u2359-4 p,#u2556.MuseMenuActive #u2558-4 p
{
	font-family: patua-one, serif;
	font-weight: 400;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u87
{
	border-color: #000000;
	background-color: #36B1BF;
}

#u2901
{
	background-color: #484848;
	position: relative;
}

#u2901:hover
{
	background-color: #999999;
}

#u2901:active
{
	background-color: #6B6B6B;
}

#u2894
{
	background-color: #484848;
	position: relative;
}

#u2901.MuseMenuActive,#u2894:hover
{
	background-color: #999999;
}

#u2894:active
{
	background-color: #6B6B6B;
}

#u74_align_to_page,#u75,#menuu2334,#u2342,#u2335,#u2349,#u2356,#u2555,#u81,#u87_align_to_page,#u89,#menuu2883,#u2898,#u2891,#u2884
{
	position: relative;
}

#u2885
{
	background-color: #484848;
	position: relative;
}

#u2894.MuseMenuActive,#u2885:hover
{
	background-color: #999999;
}

#u2885:active
{
	background-color: #6B6B6B;
}

#u2885.MuseMenuActive
{
	background-color: #999999;
}

#u2903-4,#u2896-4,#u2887-4
{
	color: #FFFFFF;
	text-align: center;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
}

