.version.motion /* version checker */
{
	color: #00000E;
	background-color: #F29B45;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3441.949999999999px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u74
{
	z-index: 2;
	padding-bottom: 10px;
}

#u75
{
	z-index: 3;
	width: 111px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 112px;
}

#menuu2334
{
	z-index: 10;
	width: 446px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 504px;
}

#u2342
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2345
{
	width: 87px;
	padding-bottom: 17px;
}

#u2345:hover
{
	margin: 0px;
}

#u2345:active
{
	margin: 0px;
}

#u2348-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2345:hover #u2348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2345:active #u2348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2335
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u2336
{
	width: 87px;
	padding-bottom: 17px;
}

#u2345.MuseMenuActive,#u2336:hover
{
	margin: 0px;
}

#u2336:active
{
	margin: 0px;
}

#u2337-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2345.MuseMenuActive #u2348-4,#u2336:hover #u2337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2336:active #u2337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2349
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u2352
{
	width: 88px;
	padding-bottom: 17px;
}

#u2336.MuseMenuActive,#u2352:hover
{
	margin: 0px;
}

#u2352:active
{
	margin: 0px;
}

#u2355-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2336.MuseMenuActive #u2337-4,#u2352:hover #u2355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2352:active #u2355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2356
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u2357
{
	width: 88px;
	padding-bottom: 17px;
}

#u2352.MuseMenuActive,#u2357:hover
{
	margin: 0px;
}

#u2357:active
{
	margin: 0px;
}

#u2359-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2352.MuseMenuActive #u2355-4,#u2357:hover #u2359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2357:active #u2359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2555
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u2556
{
	width: 88px;
	padding-bottom: 17px;
}

#u2357.MuseMenuActive,#u2556:hover
{
	margin: 0px;
}

#u2556:active
{
	margin: 0px;
}

#u2558-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2357.MuseMenuActive #u2359-4,#u2556:hover #u2558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2556:active #u2558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2556.MuseMenuActive #u2558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u81
{
	z-index: 5;
	width: 28px;
	margin-right: -10000px;
	left: 989px;
}

#u74-bw
{
	z-index: 2;
	height: 50px;
}

#pu2606
{
	width: 0.01px;
	margin-left: -100px;
}

#u2606
{
	z-index: 60;
	height: 540px;
	border-color: #000000;
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	background: #FFE9C5 url("../images/patternsmall.jpg") repeat left top;
}

#u2606-bw
{
	z-index: 60;
	height: 540px;
}

#u2607
{
	z-index: 61;
	width: 630px;
	height: 420px;
	border-color: #000000;
	background-color: #FC438A;
	-webkit-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	-ms-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	-o-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 411px;
}

#u2608
{
	z-index: 62;
	width: 630px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 411px;
}

#u2619-6
{
	z-index: 94;
	width: 283px;
	min-height: 226px;
	line-height: 79px;
	font-size: 60px;
	text-align: left;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 100px;
}

#u2610
{
	z-index: 64;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #FF9178;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u2611
{
	z-index: 65;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #FFF099;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u2612
{
	z-index: 66;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #9CFAFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u2616-4
{
	z-index: 82;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2617-4
{
	z-index: 86;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u2618-4
{
	z-index: 90;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u2613-7
{
	z-index: 67;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
}

#u2614-4
{
	z-index: 74;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u2615-4
{
	z-index: 78;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
	left: 588px;
}

#pu2622
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 21px;
}

#u2622
{
	z-index: 101;
	height: 540px;
	border-color: #000000;
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	background: #FFE9C5 url("../images/patternsmall.jpg") repeat left top;
}

#u2622-bw
{
	z-index: 101;
	margin-top: 518px;
	height: 540px;
}

#u2623
{
	z-index: 103;
	width: 630px;
	height: 420px;
	border-color: #000000;
	background-color: #FC438A;
	-webkit-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	-ms-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	-o-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	position: relative;
	margin-right: -10000px;
	margin-top: 578px;
	left: 411px;
}

#u2624
{
	z-index: 105;
	width: 630px;
	position: relative;
	margin-right: -10000px;
	margin-top: 578px;
	left: 411px;
}

#u2635-6
{
	z-index: 227;
	width: 283px;
	min-height: 226px;
	line-height: 79px;
	font-size: 60px;
	text-align: left;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 675px;
	left: 100px;
}

#u2638
{
	z-index: 241;
	border-color: #000000;
	padding-bottom: 272px;
	background: #000000 url("../images/sky.jpg") no-repeat center center;
	background-size: cover;
}

#u2638_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u2651
{
	z-index: 243;
	width: 120px;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 526px;
}

.js #u2651.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u2638-bw
{
	z-index: 241;
	height: 272px;
}

#u2810
{
	z-index: 267;
	width: 291px;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 174px;
}

#U2812_animation
{
	width: 291px;
	height: 400px;
	border: none;
}

#pu2659-4
{
	width: 0.01px;
	padding-bottom: 188px;
	margin-left: 202px;
	margin-top: -786px;
}

#u2659-4
{
	z-index: 249;
	width: 564px;
	min-height: 120px;
	color: #C1272D;
	line-height: 72px;
	font-size: 60px;
	text-align: center;
	font-family: arimo, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 1258px;
	left: 202px;
}

#u2658-4
{
	z-index: 245;
	width: 276px;
	min-height: 86px;
	color: #FFFFFF;
	line-height: 72px;
	font-size: 60px;
	text-align: center;
	font-family: arizonia, cursive;
	font-weight: 400;
	position: fixed;
	top: 1190px;
	left: 342px;
}

#u2626
{
	z-index: 107;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #FF9178;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u2627
{
	z-index: 111;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #FFF099;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u2628
{
	z-index: 115;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #9CFAFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u2632-4
{
	z-index: 179;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2633-4
{
	z-index: 195;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u2634-4
{
	z-index: 211;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u2629-7
{
	z-index: 119;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
}

#u2630-4
{
	z-index: 147;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u2631-4
{
	z-index: 163;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
	left: 588px;
}

#u2809
{
	z-index: 242;
	height: 544px;
	border-color: #000000;
	background: #000000 url("../images/sky.jpg") no-repeat center center;
	background-size: cover;
}

#u2809-bw
{
	z-index: 242;
	margin-top: 54px;
	height: 544px;
}

#pu2661
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 16px;
}

#u2661
{
	z-index: 102;
	height: 540px;
	border-color: #000000;
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	background: #FFE9C5 url("../images/patternsmall.jpg") repeat left top;
}

#u2661-bw
{
	z-index: 102;
	height: 540px;
}

#u2663
{
	z-index: 104;
	width: 630px;
	height: 420px;
	border-color: #000000;
	background-color: #FC438A;
	-webkit-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	-ms-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	-o-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	transform: matrix(0.9994,-0.0349,0.0349,0.9994,-7,11);
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 411px;
}

#u2662-6
{
	z-index: 233;
	width: 283px;
	min-height: 226px;
	line-height: 79px;
	font-size: 60px;
	text-align: left;
	font-family: patua-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 100px;
}

#slideshowu2679
{
	z-index: 253;
	width: 0.01px;
	height: 415px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 431px;
}

#u2681
{
	position: absolute;
	width: 629px;
	height: 415px;
	background-color: transparent;
}

#u2681popup
{
	z-index: 254;
}

#u2684
{
	z-index: 255;
	width: 629px;
	height: 415px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2740
{
	z-index: 257;
	width: 629px;
	height: 415px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2749
{
	z-index: 259;
	width: 629px;
	height: 415px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2758
{
	z-index: 261;
	width: 629px;
	height: 415px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2767
{
	z-index: 263;
	width: 629px;
	height: 415px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2776
{
	z-index: 265;
	width: 629px;
	height: 415px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2684_clip,#u2740_clip,#u2749_clip,#u2758_clip,#u2767_clip,#u2776_clip
{
	overflow: hidden;
	width: 629px;
	height: 415px;
}

#u2684_img,#u2740_img,#u2749_img,#u2758_img,#u2767_img,#u2776_img
{
	margin-top: -2px;
	margin-bottom: -3px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#section2,#section22,#section23
{
	left: -100px;
	position: relative;
}

#pu2610,#pu2626,#pu2666
{
	width: 0.01px;
	margin-left: 39px;
	margin-top: -8px;
}

#u2666
{
	z-index: 108;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #FF9178;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u2667
{
	z-index: 112;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #FFF099;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u2665
{
	z-index: 116;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #9CFAFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u2670-4
{
	z-index: 183;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2668-4
{
	z-index: 199;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u2669-4
{
	z-index: 215;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u2672-7
{
	z-index: 126;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
}

#u2671-4
{
	z-index: 151;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u2673-4
{
	z-index: 167;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
	left: 588px;
}

#pu2785
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 30px;
}

#u2785
{
	z-index: 109;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #FF9178;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u2788
{
	z-index: 113;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #FFF099;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u2793
{
	z-index: 117;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #9CFAFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#pu2786-4
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 12px;
}

#u2786-4
{
	z-index: 187;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2787-4
{
	z-index: 203;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u2791-4
{
	z-index: 219;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#pu2790-7
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 11px;
}

#u2790-7
{
	z-index: 133;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
}

#u2789-4
{
	z-index: 155;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u2792-4
{
	z-index: 171;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
	left: 588px;
}

#pu2794
{
	width: 0.01px;
	margin-left: 39px;
	margin-top: 20px;
}

#u2794
{
	z-index: 110;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #FF9178;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u2797
{
	z-index: 114;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #FFF099;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u2802
{
	z-index: 118;
	width: 155px;
	height: 36px;
	border-color: #000000;
	background-color: #9CFAFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#pu2613-7,#pu2629-7,#pu2670-4,#pu2795-4
{
	width: 0.01px;
	margin-left: 39px;
	margin-top: 12px;
}

#u2795-4
{
	z-index: 191;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u2796-4
{
	z-index: 207;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u2800-4
{
	z-index: 223;
	width: 229px;
	min-height: 31px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#pu2616-4,#pu2632-4,#pu2672-7,#pu2799-7
{
	width: 0.01px;
	margin-left: 39px;
	margin-top: 11px;
}

#u2799-7
{
	z-index: 140;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
}

#u2798-4
{
	z-index: 159;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u2801-4
{
	z-index: 175;
	width: 221px;
	min-height: 197px;
	position: relative;
	margin-right: -10000px;
	left: 588px;
}

#u87
{
	z-index: 7;
	padding-bottom: 36px;
}

#u74_align_to_page,#u87_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u89
{
	z-index: 8;
	width: 100px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 530px;
}

#menuu2883
{
	z-index: 41;
	width: 264px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 770px;
}

#u2898
{
	width: 86px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2901
{
	width: 86px;
	padding-bottom: 17px;
}

#u2556.MuseMenuActive,#u2901:hover
{
	margin: 0px;
}

#u2901:active
{
	margin: 0px;
}

#u2903-4
{
	width: 86px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u2891
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 88px;
}

#u2894
{
	width: 87px;
	padding-bottom: 17px;
}

#u2901.MuseMenuActive,#u2894:hover
{
	margin: 0px;
}

#u2894:active
{
	margin: 0px;
}

#u2884
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 177px;
}

#u2885
{
	width: 87px;
	padding-bottom: 17px;
}

#u2894.MuseMenuActive,#u2885:hover
{
	margin: 0px;
}

#u2885:active
{
	margin: 0px;
}

#u2885.MuseMenuActive
{
	margin: 0px;
}

#u2896-4,#u2887-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u87-bw
{
	z-index: 7;
	height: 82px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

